.signin-card{
    font-size:  var(--article-text-font-size);

    a, button, input{
        font-size:  var(--article-text-font-size);
    }

    .google-signin-btn{
        width: 100%;
        position: relative;
    }
}