.signin-card {
  font-size: var(--article-text-font-size);

  a,
  button,
  input {
    font-size: var(--article-text-font-size);
  }

  .google-signin-btn {
    width: 100%;
    position: relative;
  }

  .logout-btns {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
      margin-right: 5px;
      width: 100%;

      button,
      a {
        width: 90%;
      }
    }
  }
}
