:root {
    --primary-bg-color: rgb(250, 250, 250);
    --primary-font-color: #000;
    --button-bg-color: #008CBA;
    --button-font-color: #fff;
    --link-bg-color: rgb(2, 2, 179);
    --link-font-color: rgb(247, 225, 197);
    --selection-font-color: #eee;
    --selection-bg-color: #333;

    --article-text-font-size: 1.3rem;
}

/* global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'Overlock', cursive;
    font-size: 62.5%; //for 10px
    color: black;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    background: var(--primary-bg-color);
}

::selection {
    color: var(--selection-font-color);
    background: var(--selection-bg-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
    pointer-events: none;
}

.notification {
    width: 100%;
    text-align: center;
    // background-color: rgb(231, 100, 100);
    background-color:  rgb(32, 35, 48);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.about-page, .searched-page, .settings-page, .signin-card, .feed-page{
    margin-top: 50px;
}

@media screen and (max-height: 700px), screen and (max-width: 450px){
    :root{
        --article-text-font-size: 1.2rem;
    }
}

