@mixin title-bottom-line{
    position: relative;

    &::before{
        content: '';
        width: 10%;
        height:8px;
        position: absolute;
        bottom:-10px;
        left:50%;
        transform: translateX(-50%);
        background: rgb(90, 23, 7);
    }

    &::after{
        content: '';
        width: 40%;
        height:5px;
        position: absolute;
        bottom:-8px;
        left:50%;
        transform: translateX(-50%);
        background: rgb(70, 2, 2);
    }
}

@mixin article-style{
    background: linear-gradient(190deg, rgb(245, 212, 212), lightcoral);
    /* background: linear-gradient(to right, blue, rgb(238, 152, 152)); */
    /* color: whitesmoke; */
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #eee;
    padding: 5px 10px;
    box-shadow: 0px 10px 10px darkcyan;
}