.item-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 6px;
    border: 5px #eee solid;
}

.item-tags-list{
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
}

.item-tags-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.item-tags-list .tag{
    padding: 5px;
    width: 100%;
    color: #fff;
    background-color: rgb(134, 134, 134);
}

.item-tags-list .tag:hover{
    text-decoration: none;
    opacity: 0.9;
}