$cardBGColor: #eee;

.item-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 6px;
    border: 5px #eee solid;
    background-color: $cardBGColor;

    &:hover, &:focus, &:active{
        img{
            transform: scale(1.1,1.1);
            border-radius: 5%;
            box-shadow: 0px 5px 5px #333;
        }
    }
}

.item-tags-list{
    padding: 0px;
    background-color: $cardBGColor;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));

    li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-width: fit-content;
    }

    .tag{
        padding: 5px;
        width: 100%;
        color: #fff;
        font-size: 1.2rem; //REM
        font-weight: 600;
        background-color: rgb(90, 90, 90);
    
        &:hover{
            text-decoration: none;
            opacity: 0.9;
        }
    }
}

@media screen and (max-height: 700px), screen and (max-width: 450px){
    .item-tags-list .tag{
        font-size: 1rem; //REM
    }
}