$cardBGColor: rgb(221, 229, 231);

.item-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    border: 5px #eee solid;
    background-color: $cardBGColor;
    height: 100%;

    .image-wrapper{
        transition: clip-path 0.5s ease;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 60% 100%, 50% 95%, 40% 100%, 0% 100%);
        border-bottom: 2px solid rgb(80, 95, 99);
    }

    &:hover, &:focus, &:active{
        .image-wrapper{
            clip-path: none;
        }

        .item-image{
            transform: scale(1.1,1.1);
            border-radius: 5%;
            box-shadow: 0px 5px 5px #333;
        }
    }
}

.item-tags-list{
    padding: 0px 2px;
    background-color: $cardBGColor;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    // grid-auto-rows: 1fr;

    li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        // min-width: fit-content;
    }

    .tag{
        padding: 5px;
        width: 100%;
        height: 100%;
        word-break: break-all; //added to make sure words break if space is less
        color: #fff;
        font-size: 1.2rem; //REM
        font-weight: 600;
        background-color: rgb(90, 90, 90);
        text-align: center;
    
        &:hover{
            text-decoration: none;
            opacity: 0.9;
        }
    }
}

@media screen and (max-width: 580px){
    .item-tags-list .tag{
        font-size: 1.17rem; //REM
    }

    .item-card{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr auto;
        // grid-template-areas: 'image head''image tags';

        .image-wrapper{
            border-bottom: none;
            border-right: 2px solid rgb(80, 95, 99);

            clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 93% 50%, 100% 60%, 100% 100%, 0% 100%);
            // grid-area: image;
            height: 100%; //to take whole height of item-card
            grid-row: 1/3;
            grid-column: 1/2;
        }

        .item-image{
            height: 100%; //to take up parent's height
        }

        h4{
            // grid-area: head;
            grid-row: 1/2;
            grid-column: 2/3;
        }

        .item-tags-list{
            // grid-area: tags;
            // grid-auto-rows: 1fr;
            grid-row: 2/3;
            grid-column: 2/3;
        }
    }
}

@media screen and (max-width: 500px){
    .item-card{
        max-width: 85vw;
    }
}

@media screen and (max-height: 700px), screen and (max-width: 450px){
    .image-wrapper{
        .item-image{
            //aspect ratio : 200/250
            width: 200px;
            height: 250px;
        }
    }
}

@media screen and (max-width: 400px){
    .image-wrapper{
        padding: 10% 0px;

        .item-image{
            //aspect ratio : 200/250
            width: 180px;
            height: 225px;
        }
    }
}

//added max width media query for 350px or less
@media screen and (max-width: 350px){
    .image-wrapper{
        padding: 25% 0px;
        background-color: rgb(231, 238, 240);

        .item-image{
            //aspect ratio : 200/250
            width: 150px;
            height: 187.5px;
        }
    }
}
