.mainpage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.mainpage article{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.mainpage .most-liked-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.mainpage .loading{
    font-size: 20px;
}