.mainpage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.mainpage article{
     /*background-color: #eee;*/  /*EDITED background and font color*/
    background: linear-gradient(to right, blue, rgb(238, 152, 152));
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #eee;
    padding: 5px 10px;
}

.mainpage .most-liked-items,
.mainpage .homepage-items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.most-liked-items li, .homepage-items li{
    width: 100%;
    
    /* to center list item's content we use flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}