@import "../../../public/css/utility";

.mainpage{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    article{
        @include article-style();
    }

    .most-popular-items, .homepage-items {
        padding: 0px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }

    .article-title{
        @include title-bottom-line(10%, 40%);
    }

    .most-popular-items li, .homepage-items li{
        width: 100%;
        
        /* to center list item's content we use flexbox */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
