:root{
    --call-bg-color: rgb(59, 133, 10);
    --call-hover-color: rgb(14, 68, 7);
    --address-bg-color: darkcyan;
    --address-hover-color: rgb(2, 66, 66);
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    .call-btn{
        background-color: var(--call-bg-color);
        border-color: var(--call-bg-color);

        &:hover{
            background-color: var(--call-hover-color);
            border-color: var(--call-hover-color);
        }
    }

    .address-btn{
        background-color:var(--address-bg-color);
        border-color: var(--address-bg-color);

        &:hover{
            background-color:var(--address-hover-color);
            border-color: var(--address-hover-color);
        }
    }

    /*for strong text in button component*/
    strong{
        font-size: 20px;
    }
    
    .address-display{
        display: inline;
        pointer-events: all;
    }
}

/* for maximum height of 700px or max-width of 450px */
@media screen and (max-height: 700px), screen and (max-width: 450px){
    footer{
        height: 50px;

        .row, .col-8, .col-4 {
            height: 100%;
        }
    
        strong{
            font-size: 16px;
        }
    
        svg{
            height: 20px;
            width: 17px;
        }
    }

}

@media(max-width: 640px){
    footer .address-display{
        display: none;
        pointer-events: none;
    }
}