@import "../../../public/utility";

.searched-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    article {
        @include article-style();
    }
    
    .searched-items {
        padding: 0px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }

    .article-title{
        @include title-bottom-line();
    }

    li {
        width: 100%;
        
        /* to center list item's content we use flexbox */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}