:root{
    --selection-font-color: #eee;
    --selection-bg-color: #333;
}

::-moz-selection{ /* Code for Firefox */
    color: var(--selection-font-color);
    background: var(--selection-bg-color);
}

::selection{
    color: var(--selection-font-color);
    background: var(--selection-bg-color);
}

.searched-page{
    /*top space*/
    position: relative;
    top: 50px;
    /*bottom space*/
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.searched-page article {
     /*background-color: #eee;*/  /*EDITED background and font color*/
    background: linear-gradient(to right, blue, rgb(238, 152, 152));
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid #eee;
    padding: 5px 10px;
}

.searched-page .searched-items {
    padding: 0px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.searched-items li {
    width: 100%;
    
    /* to center list item's content we use flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
}